* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhaina', cursive;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #313030;
}
a:hover {
  color: #615858;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.is-open {
  display: flex;
}
.modal-dialog {
  max-width: 780px;
  width: 95%;
  background: #fff;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.header .top-header {
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .top-header .login-reg {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.header .top-header .feedback {
  width: 160px;
}
.header .full-background {
  background-image: url("../../images/bg1.jpg");
  background-size: contain;
}
.header .bottom-header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .bottom-header .logo img {
  height: 50px;
}
.header .bottom-header .menu {
  display: flex;
  justify-content: space-between;
}
.header .bottom-header .menu .menu-item {
  list-style-type: none;
  width: 150px;
  height: 100px;
  text-align: center;
}
.header .bottom-header .menu .menu-item .menu-link {
  display: block;
  height: 100%;
  color: black;
  font-weight: 900;
}
.header .bottom-header .menu .menu-item .menu-link:hover {
  background-color: #def12b;
}
.header .bottom-header .menu .menu-item .icon {
  position: relative;
  display: inline-block;
  margin-top: 25px;
  width: 22px;
  height: 20px;
  left: -5px;
  top: 1px;
}
.header .bottom-header .menu .menu-item .delivery-icon {
  background: url("../../images/delivery.png");
  background-size: cover;
}
.header .bottom-header .menu .menu-item .pay-icon {
  background: url("../../images/card.png");
  background-size: cover;
}
.header .bottom-header .menu .menu-item .contact-icon {
  background: url("../../images/mail.png");
  background-size: cover;
}
.header .bottom-header .menu .menu-item .cart-icon {
  background: url("../../images/basket.png");
  background-size: cover;
}
.header .bottom-header .menu .menu-item .info {
  display: block;
  font-weight: 300;
}
.main {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.main .left-sidebar {
  width: 22%;
  /*ul {
            list-style-type: none;
        }*/
}
.main .left-sidebar .left-sidebar-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  border-bottom: 1px dotted black;
}
.main .left-sidebar .left-sidebar-item .button-hidden-ul {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 29px;
  display: block;
  text-align: center;
  width: 30px;
  cursor: pointer;
}
.main .left-sidebar .left-sidebar-item .fas {
  color: #8c8c8c;
  vertical-align: middle;
}
.main .left-sidebar .left-sidebar-item .button-hidden-ul:hover {
  background-color: #dbd9d9;
}
.main .left-sidebar .left-sidebar-item .hidden-ul a {
  padding-left: 15px;
}
.main .left-sidebar .left-sidebar-link {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 5px;
}
.main .left-sidebar .submenu {
  width: 100%;
}
.main .left-sidebar .bgc-for-button {
  background-color: #eceaea;
}
.main .left-sidebar .left-sidebar-item:hover,
.main .left-sidebar .left-sidebar-link:hover {
  background-color: #eceaea;
}
.main .content {
  width: 760px;
}
.main .content .text {
  font-size: 20px;
}
.main .content .slider {
  height: 300px;
  outline: 1px solid black;
}
.main .content .search-group .search {
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.main .content .search-group .search .search-text {
  flex-grow: 15;
  margin-right: 10px;
}
.main .content .search-group .search .search-button {
  flex-grow: 2;
  background-color: #ffcf0f;
  border-radius: 10px;
}
.main .content .product-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main .content .product-list .product-item {
  height: 250px;
  width: 25%;
}
.main .content .product-list .product-link:hover .product-name {
  color: red;
}
.main .content .product-list .product-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #432966;
}
.main .content .product-list .image-block {
  line-height: 180px;
  text-align: center;
}
.main .content .product-list .product-image {
  margin: 0 auto;
  max-width: 96%;
  max-height: 170px;
  line-height: 180px;
  vertical-align: middle;
}
.main .content .product-list .product-name,
.main .content .product-list .product-price {
  display: block;
}
.main .content .pagination {
  padding-top: 30px;
  display: flex;
}
.main .content .list_pagination {
  display: flex;
  margin: 0 auto;
}
.main .content .list_pagination .item_pagination {
  list-style-type: none;
  width: 50px;
  height: 50px;
  border: 1px solid #686666;
  text-align: center;
  border-radius: 3px;
}
.main .content .list_pagination .item_pagination_icon {
  list-style-type: none;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.main .content .list_pagination .item_pagination_icon .fas {
  line-height: 50px;
  font-size: 30px;
}
.main .content .list_pagination .item_pagination_icon a {
  color: black;
  display: block;
}
.main .content .list_pagination .item_pagination_icon a:hover {
  color: red;
}
.main .content .list_pagination .item_pagination_icon .disabled {
  pointer-events: none;
  /* делаем ссылку некликабельной */
  cursor: default;
  /* устанавливаем курсор в виде стрелки */
  color: #999;
  /* цвет текста для нективной ссылки */
}
.main .content .list_pagination .item_pagination:hover {
  background-color: #e4dede;
}
.main .content .list_pagination .active {
  background-color: #979292;
}
.main .content .list_pagination .empty {
  width: 30px;
  border: none;
}
.main .content .list_pagination .empty:hover {
  background-color: #fff;
}
.main .content .link_pagination {
  display: block;
  vertical-align: middle;
  line-height: 50px;
}
.main .content .product-list-recommendation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main .content .product-list-recommendation .product-item {
  height: 200px;
  width: 20%;
}
.main .content .product-list-recommendation .product-link:hover .product-name {
  color: red;
}
.main .content .product-list-recommendation .product-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #432966;
}
.main .content .product-list-recommendation .image-block {
  line-height: 130px;
  text-align: center;
}
.main .content .product-list-recommendation .product-image {
  margin: 0 auto;
  max-width: 96%;
  max-height: 120px;
  line-height: 130px;
  vertical-align: middle;
}
.main .content .product-list-recommendation .product-name,
.main .content .product-list-recommendation .product-price {
  display: block;
}
.main .content .category-path {
  color: #8c8c8c;
  font-size: 13px;
}
.main .content .category-path a {
  color: #8c8c8c;
}
.main .content .product {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}
.main .content .product .photo-product {
  width: 45%;
}
.main .content .product .photo-product .main-photo-product {
  width: 342px;
  line-height: 342px;
  text-align: center;
}
.main .content .product .photo-product .main-photo-product img {
  max-width: 342px;
  max-height: 342px;
  vertical-align: middle;
}
.main .content .product .photo-product .small-photo-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main .content .product .photo-product .small-photo-block .small-photo-item {
  width: 33.33333333%;
  height: 126px;
  line-height: 126px;
  text-align: center;
}
.main .content .product .photo-product .small-photo-block img {
  max-width: 99%;
  max-height: 99%;
  vertical-align: middle;
}
.main .content .product .photo-product .small-photo-block .small-photo-item:hover {
  outline: 1px solid #8c8c8c;
  z-index: 1;
}
.main .content .product .description-block {
  text-align: justify;
  width: 50%;
  padding-left: 5px;
}
.main .content .product .description-block .price-and-delivery {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}
.main .content .product .description-block .price-and-delivery .price span {
  font-weight: bolder;
  font-size: 30px;
  color: #9ac111;
  display: block;
}
.main .content .product .description-block .price-and-delivery .price a {
  margin-top: -5px;
  font-size: 12px;
  border-bottom: 0.5px dotted black;
  color: black;
  display: block;
}
.main .content .product .description-block .price-and-delivery .price a:hover {
  border-bottom: none;
}
.main .content .product .description-block .price-and-delivery .delivery {
  font-size: 14px;
}
.main .content .product .description-block .price-and-delivery .delivery span {
  color: #9ac111;
}
.main .content .product .description-block .buy-block {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
.main .content .product .description-block .buy-block .button {
  width: 43%;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}
.main .content .product .description-block .buy-block .button-in-cart {
  background-color: #9ac111;
  color: white;
}
.main .content .product .description-block .buy-block .button-in-cart:hover {
  background-color: #aad411;
}
.main .content .product .description-block .buy-block .button-in-cart:active {
  background-color: #8daf10;
}
.main .content .product .description-block .buy-block .button-buy {
  background-color: #cac7c7;
  color: black;
}
.main .content .product .description-block .buy-block .button-buy:hover {
  background-color: #dad8d8;
}
.main .content .product .description-block .buy-block .button-buy:active {
  background-color: #b3afaf;
}
.footer {
  margin-top: 40px;
  height: 200px;
  background-image: url("../../images/bg2.jpg");
  background-size: contain;
  color: white;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: #8a4646;
}
.footer .logo img {
  height: 50px;
  filter: invert(1);
}
.footer .footer-list li {
  list-style-type: none;
}
.footer .link-fab {
  font-size: 35px;
}
.footer input {
  width: 100%;
}
