.list_cart
    width: 100%
    a
        display: inline-block
        width: 100%
.column_incart img
    max-width: 200px
    max-height: 200px
    width: 8rem
    height: 8rem
    
.image
    vertical-align: middle
.button-del
    display: inline-block
    width: 30px
    height: 30px
    border-radius: 10px
    text-align: center
    vertical-align: middle
    background-color: rgb(194, 192, 192)
    .fas
        line-height: 30px
        color: white
.button-del:hover
    background-color: rgb(155, 151, 151)
    cursor: pointer
table
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif
    font-size: 14px
    background: white
    border-collapse: collapse
    text-align: center
    border-spacing: 8px 8px
    //line-height: 5
th 
    font-weight: normal
    color: #039
    border-bottom: 2px solid #6678b1
    padding: 10px 8px
    //outline: 1px solid black
tr
    
td 
    color: #669
    padding: 9px 8px
    transition: .3s linear
    border-bottom: 1px solid #ccc
    min-width: 5rem
    //outline: 1px solid black
    .fas
        vertical-align: middle
        cursor: pointer
    
.count_value
    width: 30px
    text-align: center
    //line-height: 30px
    height: 30px
    vertical-align: middle

.count_button
    display: inline-block
    font-size: 30px
    vertical-align: middle
.result
    td:first-child
        text-align: right
.buy_cart
    background-color: #9ac111
    color: white
    font-size: 16px
    height: 3rem
    width: 100%
    border-radius: 5px
    display: flex
    align-items: center
    justify-content: space-evenly
.count_block
    display: flex


.tabs
    width: 100%
    padding: 0px
    margin: 0 auto 
.tabs>input
    display: none 
.tabs>div 
    display: none
    padding: 12px
    //border: 1px solid #C0C0C0
    background: #FFFFFF

.tabs>label 
    display: inline-block
    padding: 7px
    width: 144px
    margin: 0 -5px -1px 0
    text-align: center
    color: #666666
    border: 1px solid #C0C0C0
    background: #E0E0E0
    cursor: pointer

.tabs>input:checked + label 
    color: #000000
    border: 1px solid #C0C0C0
    border-bottom: 1px solid #FFFFFF
    background: #FFFFFF

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2,
    display: block 

.qwe
    // -moz-border-radius-topleft: 24px 
    // -webkit-border-top-left-radius: 24px 
    // border-top-left-radius: 24px 
    //-moz-border-radius-topright: 24px 
    //-webkit-border-top-right-radius: 24px 
    //border-top-right-radius: 24px