//$widthContainer: 1000px
.main 
    display: flex
    justify-content: space-between
    padding-top: 20px

    $widthContent: 0.76

    .content 
        width: $widthContainer * $widthContent
        
        .text
            font-size: 20px        

        
        
.search-group 
    .search 
        height: 55px
        display: flex
        justify-content: space-between
        padding-top: 20px

        .search-text 
            flex-grow: 15
            margin-right: 10px
        

        .search-button 
            flex-grow: 2
            background-color: #ffcf0f
            border-radius: 10px                 
.category-path 
    color: #8c8c8c
    font-size: 13px

    a 
        color: #8c8c8c    
        

    
