.header 
    .top-header 
        height: 30px
        display: flex
        justify-content: flex-end
        align-items: center

        //.login-reg 
            //display: flex
            //justify-content: space-between
            //width: 150px
        //


        .feedback 
            width: 160px
        
    

    .full-background 

        background-image: url("../../images/bg1.jpg")
        background-size: contain
    

    .bottom-header 
        height: 150px
        display: flex
        align-items: center
        justify-content: space-between
        .logo
            display: flex
        .logo img 

            height: 90px
        

        .menu 
            display: flex
            justify-content: space-between

            .menu-item 
                list-style-type: none

                width: 150px
                height: 100px
                text-align: center

                .menu-link 
                    display: block
                    height: 100%
                    color: black
                    font-weight: 900
                

                .menu-link:hover 
                    background-color: rgb(222, 241, 43)
                

                .icon 
                    position: relative
                    display: inline-block
                    margin-top: 25px
                    width: 22px
                    height: 20px
                    left: -5px
                    top: 1px
                

                .about-icon 

                    background: url("../../images/about.png")
                    background-size: cover

                

                .pay-icon 

                    background: url("../../images/card.png")
                    background-size: cover

                

                .contact-icon 

                    background: url("../../images/mail.png")
                    background-size: cover

                

                .cart-icon 
                    background: url("../../images/basket.png")
                    background-size: cover

                

                .info 
                    display: block
                    font-weight: 300

.menu-item:last-child
    position: relative
#count_in_cart
    position: absolute
    width: 30px
    height: 30px
    border-radius: 50%
    background-color: #9ac111
    top: 0
    right: 0
    display: none
    align-items: center
    justify-content: space-around
.header_burger
    width: 30px
    height: 20px
    display: block
    position: relative
    display: none
.header_burger:before,
.header_burger:after
    content: ''
    background-color: #000
    width: 100%
    height: 2px
    left: 0
    position: absolute
    transition: all 0.3s ease 0s
.header_burger:before
    top: 0
.header_burger:after
    bottom: 0            
.header_burger span
    background-color: #000
    width: 100%
    height: 2px
    position: absolute
    top: 9px
    transition: all 0.3s ease 0s
        
    

