@media screen and ( max-width: 1100px)
    $widthContainer: 800px
    .menu-item
        width: 130px !important 
    .slider
        //display: none
    .container
        //width: 768px
    .content
        width: 100% !important
    .main
        flex-direction: column
    //.product
    //    flex-direction: column
    //    .photo-product, .description-block
    //        width: 100% !important
    #sidebar
        display: none
    .left-sidebar
        width: 100% !important
    .header
        font-size: 14px
    
@media screen and ( max-width: 835px )
    .footer
        font-size: 14px
    .bottom-header
        height: 80px !important
    .logo img
        content: url('/images/logo-small.png')
        height: 60px !important
    .menu
        position: fixed
        top: 0px
        right: -100%
        padding: 140px 0 0 0
        width: 70%
        height: 100%
        background-color: #ffd401
        z-index: 3
        display: block !important
        transition: all 0.3s ease 0s
        .info, .icon
            display: none !important
        &-item
            height: 40px !important
            width: 100% !important
            line-height: 3 !important
        &-link
            vertical-align: middle !important
            align-items: center !important
    .menu.active
        right: 0 !important
    .header_burger
        display: block
        z-index: 4
    .header_burger.active:before
        transform: rotate(45deg)
        top: 9px
    .header_burger.active:after
        transform: rotate(-45deg)
        bottom: 9px
    .header_burger.active span
        transform: scale(0)
        
@media screen and ( max-width: 764px )
    .footer
        height: 100px
        position: relative
        //font-size: 12px
    .footer:after
        position: absolute
        top: 90px
        z-index: -1
        content: ''
        background-color: #000
        height: 285px
        width: 100%
    .footer-content
        flex-direction: column !important
        align-items: center
        padding-top: 13px !important
    .footer-item
        margin: 5px 0 !important
    .product
        flex-direction: column
        align-items: center
    .description-block
        width: 100% !important

@media screen and ( max-width: 500px )
    .slider
        display: none    
@media screen and ( max-width: 410px )
    .bottom-header
        height: 60px !important
    .logo img
        content: url('/images/logo-small.png')
        height: 45px !important
    .price-and-delivery
        flex-direction: column
    .price a
        display: inline !important
    .delivery
        margin-top: 15px
    .item_pagination, .item_pagination_icon
        width: 35px !important
        height: 35px !important
    .item_pagination a, .item_pagination_icon a .fas
        line-height: 35px !important
    .top-header
        font-size: 13px
    .modal form input
        width: 250px
    .modal-dialog
        padding: 35px 25px
    .modal-registration
        padding: 35px 5px 35px 25px

@media screen and ( max-width: 673px )
    tr:first-child
        display: none
    table
        border-spacing: 2px 5px
    tr
        border-bottom: 2px solid grey
    tr:last-child
        border-bottom: 0
    td
        display: block
    .price
        //display: none
    .final_cost
        text-align: right
    .submit
        border-bottom: 0
    .tdblock
        width: 33%
        display: inline-block
        border-bottom: 0
    

    