.list_delivery
    text-align: justify
    &_item
        display: flex
        justify-content: space-between
        //font-size: 1rem
        margin: 15px 0
    &_text
        width: 95%
        
    &_div        
        text-align: center
        justify-content: space-around
        align-items: center
        display: flex
        width: 30px
        height: 30px
        border-radius: 50%
        background-color: #000
        color: white
.about
    text-align: justify
    p, h3
        text-indent: 30px
        margin: 5px
    a
        color: #5d2aaf
.menu_contacts
    text-align: justify
    p
        margin: 5px 0
    .link-fab
        font-size: 1.5rem
    a
        //color: #3f3468
        font-weight: bold
.map_contacts
    margin-top: 15px
    width: 100%
    height: 400px