$widthAll: 1300px
$widthContainer: 1000px
@import "_header"
@import "_footer"
@import "_container"
@import "_sidebar"
@import "_product_list"
@import "_pagination"
@import "_product"
@import "_cart"
@import "_slider" 
@import "_menu"   
* 
    margin: 0
    padding: 0
    //font-family: 'Baloo Bhaina', cursive
    //font-family: 'Roboto', sans-serif
    font-family: 'Istok Web', sans-serif
    box-sizing: border-box
    outline: none
    -webkit-appearance: none
    //font-size: 16px
.hidden-ul
    display: none
html, body
    height: 100%
body
    display: flex
    flex-direction: column
body.lock
    overflow: hidden
.main
    flex: 1 0 auto
.footer
    flex: 0 0 auto
input
	//width: 300px
	font-size: 13px
	//padding: 6px 0 4px 10px
	border: 1px solid #cecece
	background: #F6F6f6
	border-radius: 8px
    text-align: center
input[type=submit]
    background-color: #d6cfcf
.modal form input 
    width: 300px
    padding: 6px 0 4px 10px
    margin: 3px 
    
.submit_button:hover, .button:hover 
    cursor: pointer
.button:hover
    background-color: #aad411

.hidden
    visibility: hidden


.icon_green
    color: green

.icon_red
    color:red


///*.hidden
//    color: rgb(109, 233, 72)
//    display: none
//*/

a 
    text-decoration: none
    color: rgb(49, 48, 48)


a:hover 
    color: rgb(97, 88, 88)

.modal 
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.4)
    display: none
    font-size: 1rem
    line-height: 2rem
    color: black
    //text-align: center
    

.modal-dialog 
    max-width: 780px
    background: rgb(255, 255, 255)
    border-radius: 15px
    margin: auto
    padding: 40px 45px
    position: relative
.modal-registration
    //padding: 40px 20px 40px 45px
.button-close
    position: absolute
    width: 30px
    height: 30px
    border-radius: 10px
    top: 15px
    right: 15px
    text-align: center
    vertical-align: middle
    background-color: rgb(194, 192, 192)
    .fas
        line-height: 30px
        color: white
    

.button-close:hover
    background-color: rgb(155, 151, 151)
    cursor: pointer

.open
    display: flex
    z-index: 1010
.container 
    width: 90%
    max-width: 1000px
    margin: 0 auto

#btn_incart.disabled
    pointer-events: none /* делаем ссылку некликабельной */
    cursor: default  /* устанавливаем курсор в виде стрелки */
    background-color: rgb(151, 149, 14)

@import "_media"